<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Users</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	
</head>

<body>
<div class="container-fluid">
	<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">SpringApp</a>
		    </div>
		    <ul class="nav navbar-nav">
				<li><a th:href="@{/}">Back</a></li>
		    </ul>
		  </div>
	</nav>
</div>
<div class="container">
	<div th:if="${not #lists.isEmpty(users)}">
		<h2>Users</h2>
		<table class="table table-stripped">
			<tr>
				<th>Username</th>
				<th>Age</th>
				<th>Creation Time</th>
				<th>Role</th>
				<th>Delete</th>
			</tr>
			<tr th:each="user : ${users}">
				<td th:text="${user.username}"></td>
				<td th:text="${user.age}"></td>
				<td th:text="${#dates.format(user.creationTime, 'dd.MMM.yyyy. hh:mm')}"></td>
				<td th:text="${user.Role}"></td>
				<td>
					<form th:action="@{/admin/users(id=${user.id})}" th:method="delete">
					<button type="submit" class="btn btn-danger btn-xs">Delete</button>
					</form>
				</td>
			</tr>
		</table>
	
	</div>
</div>
    
</body>
</html>